#root {
  min-width:100%;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.logged-user-label{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:1em;
  padding-right:0;
  padding-left:0;
  background: #fdff77;
  border-radius: 5px;
  width:100%; 
}

.notification-body{
  width:100%;
  border-radius:5px;
}

.form{
  display:grid;
  grid-columns:2
  grid-rows:2;
}

.label{
  grid-column-start:0;
}
.input{
  .grid-column-start:1;
}

.main{
  width: 50%;
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  gap:0.5em;
}

.blog-creation-form-toggle-button{
  margin-bottom:0.5em;
}

.create-blog-button{
  margin-top: 0.5em;
}

.login-button{
  margin-top: 2em;
}