.links{
    width:100%;
    display: flex;
    margin-top:0.5em;
    margin-bottom:0.5em;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius:5px;
    background: #60dc77;
    padding-top:1em;
    padding-bottom:1em;
    font-size:18px;
    font-weight:bold;
}